*{
    font-family: "Myriad Pro Regular",arial,sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
#header
{
    width: 100%;    
    height:80px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 1000;
}

#menu{
    margin-right:270px;
}
#menu li a:hover{
    color: #90B1BA;
    transition: ease-in-out 0.2s;
}
#header ul >li{
    float: left;
    margin-right: 15px;
}
#header ul li a{
    text-decoration: none;
    color:aliceblue;
    transition: ease-in-out 0.2s;   
}
#headertopright{
    width: 200px;
    height: 30px;
    box-sizing: border-box ;
}
.hotline{
    background-color: brown;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    float: left;
    margin-right: 28px;
}
#headertopright button{
    background-color: black;
    border: none;
}
#menu li >a{
    font-size: 14px;
}
#submenu{
    height: 90px;
    width: 100%;
}
.content1 h3{
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
}
.content2{
    width: 75%;
    height: auto;
    margin: 0px auto;
    display: flex;
    justify-content:space-evenly;
}
.content2 img{
    transition: ease-in-out 0.3s;
}
.content2 img:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}
.content2 .ct2_item1:hover h3{
    color:red
}
.content2 .ct2_item2:hover h3{
    color:red
}
.content2 .ct2_item3:hover h3{
    color:red
}
.ct2_item1,.ct2_item2,.ct2_item3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gioithieu{
    padding-top: 90px;
    width: 75%;
    height: auto;
    margin: 0px auto;
    padding-bottom: 50px;
}
.content3{
    width: 100%;
    height: 1060px;
    background-color: black;
    display: flex;
    justify-content: center;
}
.content3 > .ct3_item1{
    width: 40%;
    height: auto;
    float: left;
    box-sizing: border-box;
}
.content3 .ct3_item1 >img{
    height: 580px;
    width: 600px;
}
.ct3_item1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.khung_ct3_item1{
    width: 490px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.khung_ct3_item1 >span{
    margin-top: 17px;
}
.ct3_item2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.khung_ct3_item2{
    margin-top: 120px;
    margin-left: 100px;
    width: 490px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.khung_ct3_item2 >span{
    margin-top: 17px;
}
.btn_hover0{
    background-color: brown;
    color: aliceblue;
    border: none;
    height: 40px;
    width: 130px;
    font-weight: bold;
    font-size: 15px;
}
.btn_hover0:hover{
    background-color: black;
}
.btn_hover1 button{
    width: 150px;
    height: 45px;
    border: none;
    line-height: 14px;
    color: aliceblue;
    background-color: brown;
}
.btn_hover1 button:hover{
    background-color: black;
    border: 1px solid white;

}
.btn_hover2 button{
    width: 105px;
    height: 45px;
    border: none;
    line-height: 14px;
    color: aliceblue;
    background-color: brown;
}
.btn_hover2 button:hover{
    background-color: black;
    border: 1px solid white;

}
.footer{
    margin-top: 30px;
    width: 100%;
    height: 180px;
    box-sizing: border-box;
}
.content4{
    margin: 0 auto;
    width: 75%;
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 35px;
}
.tieude{
    text-align: center;
    margin-top: 80px;
}
.content4 img{
    width: 370px;
    height: 200px;
    margin-bottom: 40px;
    transition: ease-in-out 0.5s;
}
.content4 a{
    text-decoration: none;
    color: black;
}
.ct4_item1{
    width: 370px;
    height: 450px;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    overflow: hidden;
}
.ct4_item1_it2{
    font-size: 18px;
}
.ct4_item1_it3{
    font-weight:100;
    font-size: 14px;
    line-height: 25px;
}
.ct4_item1_it4 b{
    float: left;
    margin-right: 6px;
}
.ct4_item1:hover img{
    transform: scale(1.1);
    opacity: 0.9;
    transition: ease-in-out 0.5s;
}
.ct4_item1:hover .ct4_item1_it2{
    color: red;
}
.ct4_item1_it4 b:hover{
    color: #cb1e33;
}
.content5{
    width: 100%;
    height: 650px;
}
.content5 h1{
    text-align: center;
    color: aliceblue;
    padding-top: 35px;
}
.content5 .content5_guiyeucau{
    width: 50%;
    height: auto;
    margin-left: 430px;
}
.content5 select{
    height: 40px;
    width: 640px;
    padding-left: 4px;
    margin-bottom: 23px;
}
.content5 input{
    padding-left: 10px;
}
.content5 textarea{
    padding-left: 10px;
}
.content5 .input_ct5_it1{
    width: 410px;
    height: 30px;
    margin-right: 30px;
    margin-bottom: 23px;
}
.content5 .input_ct5_it2{
    width: 167px;
    height: 30px;
    margin-bottom: 23px;
}
.content5 .input_ct5_it3{
    width: 628px;
    height: 30px;
    margin-bottom: 23px;
}
.content5 .input_ct5_it4{
    width: 633px;
    height: 70px;
    margin-bottom: 23px;
}
.content5 button{
    width: 200px;
    height: 40px;
    font-size: 19px;
}
.content5 button:hover{
    background-color: black;
    color: antiquewhite;
    border: 1px solid white;
} 
.top-right-menu{
    width: auto;
    height: auto;
    position: fixed;
    z-index: 5;
    right:0;
    bottom: 0;
    top:20%;
}
.top-right-menu ul{
    background-color: brown;
    list-style: none;
    padding: 0;
    margin: 0;
}
.top-right-menu ul .icon1{
    width: 50px;
    height: 50px;
    border-bottom: white 1px solid;
    position:relative;
}
.top-right-menu ul li img{
    padding-left: 7px;
    padding-top:6px;
    float: left;
}
.icon-submenu{
    position: absolute;
    width: 130px;
    height: 50px;
    font-size: 14px;
    background-color: #dbd4d4;
    color: #cb1e33;
    right: -130px;
    line-height: 50px;
    text-align: center;
}
.top-right-menu ul li:hover .icon-submenu{
    right: 50px;
    transition: ease-in-out 0.4s;
}
.top-right-menu ul .icon{
     width: 50px;
    height: 50px;
    position:relative;
}
.footer{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.foo{
    margin-right: 150px;
}
.foo a{
     font-size: 18px;
}
.foo .foo_ct a{
    text-decoration: none;
    color: black;
}
.foo .foo_ct a:hover p{
    color: #cb1e33;
}
.foo .foo_ct p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 15px;
}
.foo_it1{
    width: 350px;
    height: auto;
    margin-left: 40px;
    box-sizing: border-box;
}
.foo_it1 p{
    font-size: 20px;
}
.foo_span{
    margin-right: 15px;
    font-size: 18px;
    float: left;
}
.foo_span1{
    margin-right: 15px;
    font-size: 18px;
    float: left;
    height:105px ;
}
.foo_span2{
    margin-right: 15px;
    font-size: 18px;
    float: left;
    height:60px ;
}

.foo_ct1,.foo_ct2,.foo_ct3{
    margin-bottom: 27px;
    margin-left: 28px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
}
.foo_ct4{
    margin-bottom: 27px;
    margin-left: 10px;
}
#foo_ct4_icon{
    font-size: 30px;
    float: left;
    margin: 0;
    border: 1px solid black;
    display: block;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    color: rgba(0, 0, 0, 0.8);
}
#foo_ct4_icon1{
    font-size: 30px;
    float: left;
    margin: 0;
    border: 1px solid black;
    display: block;
    padding:  5px;
    color: rgba(0, 0, 0, 0.8);
}
#foo_ct4_icon:hover{
    color: white;
    background-color: black;
}
#foo_ct4_icon1:hover{
    color: white;
    background-color: black;
}
.foo_ct1_it1{
    width: 285px;
}
